{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [ "transform-define", "./env-config.js" ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}
