{
  "extends": [
    "plugin:@next/next/recommended",
    "@schoenwald/eslint-config-typescript"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "react/display-name": 0,
    "@typescript-eslint/no-empty-interface": 0
  }
}
