{
  "extends": "stylelint-config-schoenwaldnils",
  "rules": {
    "number-leading-zero": "always",
    "declaration-colon-newline-after": null
  },
  "processors": [
    "stylelint-processor-styled-components"
  ]
}
