{
  "extends": "stylelint-config-schoenwaldnils",
  "rules": {
    "number-leading-zero": "always",
    "declaration-colon-newline-after": null,
    "declaration-block-semicolon-newline-after": null,
    "rule-empty-line-before": null,
    "value-list-comma-newline-after": null
  },
  "processors": [
    "stylelint-processor-styled-components"
  ]
}
