*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--body-background-color);
  background-image:
    radial-gradient(
      var(--body-background-color) 0%,
      var(--body-background-shadow) 100%
    );
}

/*
*:focus {
  outline: 0;
}
*/

textarea:focus,
input:focus {
  outline: 1px solid var(--color-green);
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

td:not(:last-child) {
  padding-right: .25em;
}

/** @define Page */

.Page {
  display: flex;
  flex-direction: column;
}

.Page-wrapTimeline {
  position: relative;
  flex-grow: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
}
