/*
 * Theme definition
 *
 * This defines the theme in fundamental terms.
 */

/*
 * Breakpoints
 */
@custom-media --viewport-sm (min-width: 480px);
@custom-media --viewport-md (min-width: 768px);
@custom-media --viewport-lg (min-width: 992px);

/*
 * Content Widths
 * 1. TODO: propose to replace with --content-width.
 */
:root {
  --base-unit: 8px;

  /*
  * Colors
  */

  /*
   * Colors
   */

  --cb0: #2d2d2d;
  --cb1: #444;
  --cb2: #515151;
  --cb3: #7c7c7c;
  --cb4: #bebab5;
  --cb5: #ccc;
  --cb6: #e5e3e2;
  --cb7: #f2f2f2;

  /*
  --cb8: #f2777a;
  --cb9: #f99157;
  --cbA: #f9d75c;
  --cbB: #3dd2b1;
  --cbC: #6cc;
  --cbD: #69c;
  --cbE: #c9c;
  --cbF: #635f5e;
  */

  --color-error: #da2000;
  --color-warning: #edba00;

  --color-red: #f2777a;
  --color-orange: #f99157;
  --color-yellow: #f5d14f;
  --color-green: #3dd2b1;
  --color-green-darker: #41ad95;
  --color-cyan: #6cc;
  --color-blue: #69c;
  --color-purple: #c9c;
  --color-brown: #635f5e;

  --color-theme: var(--color-green-darker);

  --text-color: #2d2d2d;
  --link-color: var(--color-green);
  --link-color-hover: var(--text-color);

  --body-background-color: var(--cb6);
  --body-background-shadow: var(--cb4);


  /*
  * Typography
  */

  --font-size: 16px;

  /* --font-family: WtClearText, Georgia, serif; */

  --font-family: monospace;
  --font-weight: 500;
  --line-height: 1.4;

  --font-size-alpha: 2rem;
  --font-size-beta: 1.5rem;
  --font-size-gamma: 1rem;

  /**
   * Z-Indexes
   */

  --z-element-active: 100;
  --z-event-active: 101;

  /**
   * Times
   */

  --time-animation: 300ms;
  --time-transition: 150ms;

  /**
   * Components
   */

  --Header-height: 2.5rem;
}
