/** @define Event */

.Event {
  position: absolute;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  line-height: 1.5em;
  color: #fff;
  background-color: var(--color-red);
}

.Event:focus {
  outline: none;
}

.Event-title {
  position: sticky;
  top: 2em;
  left: 100%;
  display: inline-block;
  padding: .25em .5em;
  white-space: nowrap;
  background-color: #555;
  box-shadow: 0 0 .5em rgba(255, 255, 255, .25);
}

.Event:focus .Event-title {
  z-index: var(--z-event-active);
}
