/** @define Event */

.Event {
  position: absolute;
  top: 0;
  z-index: 0;
  display: block;
  padding: .25em .5em .65em;
  font-family: monospace;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  background-color: #555;
}

.Event:focus {
  outline: none;
}

.Event::before {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 1px;
  height: 100vh;
  background-color: var(--color-red);
}
