/** @define Event */

.Event {
  position: absolute;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  font-family: monospace;
  line-height: 1.5em;
  color: #fff;
  background-color: var(--color-red);
}

.Event:focus {
  outline: none;
}

.Event-title {
  position: absolute;
  top: 2em;
  left: 100%;
  padding: .25em .5em;
  white-space: nowrap;
  background-color: #555;
}

.Event:focus .Event-title {
  z-index: var(--z-event-active);
  box-shadow: .125em 0 .25em var(--body-background-color);
}
