/** @define Page */

.Page {
  display: flex;
  height: 100vh;
}

.Page-wrapTimeline {
  flex-grow: 1;
  overflow: auto;
}

.Page-wrapSidebar {
  position: absolute;
  top: 0;
  left: 100%;
  width: 16rem;
  max-width: 95vw;
  height: 100vh;
}

.Page-wrapLangSwitch {
  position: fixed;
  bottom: 0;
  left: 0;
}
