{% assign human = include.human %}

{% if human.deathyear %}
  {% assign deathyear = human.deathyear %}
{% else %}
  {% capture deathyear %}{{'now' | date: "%Y" | times: 1 }}{% endcapture %}
{% endif %}

<div id="{{ human.slug }}" class="Human Human--{{ human.slug }}" data-name="{{ human.name }}" tabindex="0" data-scroll>
  <div class="Human-info">
    <table>
      <tr>
        <td class="Human-tableCell">Years lived:</td>
        <td class="Human-tableCell">{{ human.birthyear | period:deathyear }}</td>
      </tr>
      <tr>
        <td class="Human-tableCell">Birth:</td>
        <td class="Human-tableCell">{{ human.birthyear | bce }}</td>
      </tr>
      {% if human.deathyear %}
        <tr>
          <td class="Human-tableCell">Death:</td>
          <td class="Human-tableCell">{{ human.deathyear | bce }}</td>
        </tr>
      {% endif %}
      {% if human.father %}
        <tr>
          <td class="Human-tableCell">Father:</td>
          <td class="Human-tableCell">
            {% assign fatherInCollection = site.persons | where:"slug", human.father | first %}{% if fatherInCollection %}
              <a href="{{ fatherInCollection.id }}">{{ fatherInCollection.name }}</a>
            {% else %}
              {{ human.father }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if human.mother %}
        <tr>
          <td class="Human-tableCell">Mother:</td>
          <td class="Human-tableCell">
            {% assign motherInCollection = site.persons | where:"slug", human.mother | first %}{% if motherInCollection %}
              <a href="{{ motherInCollection.id }}">{{ motherInCollection.name }}</a>
            {% else %}
              {{ human.mother }}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if human.childs %}
        <tr>
          <td class="Human-tableCell">Childs:</td>
          <td class="Human-tableCell">
            <ul>
              {% for child in human.childs %}
                {% assign childInCollection = site.persons | where:"slug", child | first %}
                {% if childInCollection %}
                  <li>{{ childInCollection.name }}</li>
                {% else %}
                  <li>{{ child | capitalize }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
</div>
