/** @define Event */

.Event {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 1px;
  font-family: monospace;
  line-height: 1.5em;
  color: #fff;
  background-color: var(--cb7);

  &::before {
    content: '(' attr(data-year) ')';
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    white-space: nowrap;
  }

  &::after {
    content: attr(data-name);
    position: absolute;
    top: 1.4em;
    left: calc(100% + 5px);
    white-space: nowrap;
  }
}

.Event:not([data-name])::before {
  content: attr(data-year);
}
