/** @define TimelineCursor */

.TimelineCursor {
  position: fixed;
  top: 0;
  left: var(--TimelineCursor-left);
  width: 1px;
  height: 100vh;
  pointer-events: none;
  background-color: #00000080;
}

.TimelineCursor::after {
  content: var(--TimelineCursor-year);
  position: absolute;
  top: 20px;
  left: 5px;
  color: #000;
  white-space: nowrap;
}
