/** @define Timeline */

:root {
  --Time-yearsBeforeZero: 4100px;
  --Time-yearsAfterZero: 2500px;
}

.Timeline {
  position: relative;
  width: calc(var(--Time-yearsBeforeZero) + var(--Time-yearsAfterZero));
  min-height: 100vh;
  font-size: 10px;
  color: var(--color-brown);
  background-color: #f0f0f0;
}

.Timeline-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Timeline-scale::before {
  left: 0;
  width: var(--Time-yearsBeforeZero);
  background: linear-gradient(to left, transparent 99%, var(--color-brown) 99%);
  background-position-x: right;
}

.Timeline-scale::after {
  left: var(--Time-yearsBeforeZero);
  width: calc(100% - var(--Time-yearsBeforeZero));
  background: linear-gradient(to right, var(--color-brown) 1%, transparent 1%);
  background-position-x: 0;
}

.Timeline-scale::before,
.Timeline-scale::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-size: 100px;
}

.Timeline-numbers {
  position: sticky;
  top: .25em;
  display: flex;
  padding-right: 17px;
  padding-left: 5px;
}

.Timeline-negativeNumbers {
  display: flex;
  flex-direction: row-reverse;
}

.Timeline-positiveNumbers {
  display: flex;
}

.Timeline-scaleNumber {
  width: 100px;
  padding-left: 0;
  font-family: monospace;
}

.Timeline-positiveNumbers .Timeline-scaleNumber:first-child {
  width: 99px;
}

.Timeline-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.Timeline-wrapEvents {
  position: relative;
  z-index: 0;
  height: calc(var(--Timeline-eventsHeight) * (4em + 1px));
  margin-bottom: 1rem;
}

.Timeline-wrapTimes {
  position: relative;
  height: calc(var(--Timeline-timesHeight) * (2em + 1px));
}
