/** @define Timeline */

.Timeline {
  position: relative;
  width: 6041px;
  padding-bottom: 1rem;
  font-size: 10px;
  color: #fff;
}

.Timeline-scale {
  display: flex;
  margin-bottom: 3.5em;
  padding-right: 17px;
  padding-left: 26px;
}

.Timeline-scale::before {
  left: 0;
  width: 4026px;
  background: linear-gradient(to left, transparent 99%, #555 99%);
  background-position-x: right;
}

.Timeline-scale::after {
  left: 4026px;
  width: calc(100% - 4026px);
  background: linear-gradient(to right, #555 1%, transparent 1%);
  background-position-x: 0;
}

.Timeline-scale::before,
.Timeline-scale::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background-size: 100px;
}

.Timeline-negativeNumbers {
  display: flex;
  flex-direction: row-reverse;
}

.Timeline-positiveNumbers {
  display: flex;
}

.Timeline-scaleNumber {
  width: 100px;
  padding-left: .25rem;
  font-family: monospace;
}

.Timeline-positiveNumbers .Timeline-scaleNumber:first-child {
  width: 99px;
}
