/** @define Header */

:root {
  --Header-height: 2.5rem;
}

.Header {
  flex-shrink: 0;
  height: var(--Header-height);
  color: var(--Header-color, #0ff);
  background-color: var(--Header-background, #000);
}

.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.Header-title {
  font-family: monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Header-link--persons {
  font-family: monospace;
  text-transform: uppercase;
}

.Header-subNav {
  position: fixed;
  top: var(--Header-height);
  right: 0;
  height: calc(100vh - var(--Header-height));
  z-index: var(--z-submenu);
  font-size: .8rem;
  transition: transform var(--time-animation) ease-out;
  transform: translateX(100%);
  overflow: hidden;
}

.Header-subNav.is-active {
  transform: translateX(0);
}

.Header-subList {
  height: 100%;
  padding: 1rem;
  background-color: var(--Header-background, #000);
}
