/** @define Timeline */

.Timeline {
  position: relative;
  width: 6041px;
  font-size: 10px;
  color: #fff;
}

.Timeline-scale {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 2.8em;
  padding-left: 26px;

  &::before {
    left: 0;
    width: 4026px;
    background: linear-gradient(to left, transparent 99%, #555 99%);
    background-position-x: right;
  }

  &::after {
    left: 4026px;
    width: calc(100% - 4026px);
    background: linear-gradient(to right, transparent 99%, #555 99%);
    background-position-x: 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-size: 100px;
  }
}

.Timeline-scaleNumber {
  width: 100px;
  padding-left: .25rem;
  font-family: monospace;
}
