@font-face {
  font-family: WtClearText;
  font-style: normal;
  font-weight: 700;
  src:
    url('/assets/fonts/ClearTextBold.woff') format('woff'),
    url('/assets/fonts/ClearTextBold.ttf') format('truetype');
}

@font-face {
  font-family: WtClearText;
  font-style: italic;
  font-weight: 700;
  src:
    url('/assets/fonts/ClearTextBoldItalic.woff') format('woff'),
    url('/assets/fonts/ClearTextBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: WtClearText;
  font-style: normal;
  font-weight: 500;
  src:
    url('/assets/fonts/ClearTextMedium.woff') format('woff'),
    url('/assets/fonts/ClearTextMedium.ttf') format('truetype');
}

@font-face {
  font-family: WtClearText;
  font-style: italic;
  font-weight: 500;
  src:
    url('/assets/fonts/ClearTextMediumItalic.woff') format('woff'),
    url('/assets/fonts/ClearTextMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: WtClearTextSC;
  font-style: normal;
  font-weight: 500;
  src:
    url('/assets/fonts/ClearTextSCMedium.woff') format('woff'),
    url('/assets/fonts/ClearTextSCMedium.ttf') format('truetype');
}
