:root {
  /**
   * base
   */

  --text-color: var(--cb0);
  --link-color: var(--cbD);
  --link-color-hover: var(--text-color);

  --body-background-color: var(--cb0);

  /**
   * components-arrange
   */

  /* --Arrange-gutter-size: var(--space-small-px); */


  /**
   * components-grid
   */

  /* --Grid-gutter-size: var(--space-medium-px); */


  /**
   * Z-Index Applications
   */

  --z-human-active: var(--z-index-1);
  --z-submenu: var(--z-index-2);

  /**
   * Components
   */

  --Header-color: var(--text-color);
  --Header-background: #fff;
}
