:root {
  /**
   * base
   */

  --text-color: var(--cb7);
  --link-color: var(--color-8);
  --link-color-hover: var(--text-color);

  --body-background-color: var(--cb0);

  /**
   * components-arrange
   */

  /* --Arrange-gutter-size: var(--space-small-px); */


  /**
   * components-grid
   */

  /* --Grid-gutter-size: var(--space-medium-px); */


  /**
   * Z-Index Applications
   */

  /**
   * Components
   */

}
