/** @define Human */

.Human {
  position: relative;
  display: flex;
  align-items: center;
  height: 2em;
  padding-left: .5em;
  margin-bottom: 1px;
  font-family: monospace;
  color: #000;
  background-color: var(--cbB);
  cursor: pointer;

  &::before,
  &::after {
    content: attr(data-name);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: .5em;
  }

  &::before {
    color: #fff;
  }

  &::after {
    width: 100%;
    color: #000;
    text-shadow: 0 0;
    overflow: hidden;
  }

  &:hover::after {
    color: var(--cb2);
  };
}

.Human:focus {
  background-color: #fff;
  z-index: var(--z-human-active);
  outline: none;
  text-decoration: underline;
}

.Human-info {
  position: absolute;
  top: 100%;
  left: 0;
  padding: .4em .5em;
  color: var(--text-color);
  background-color: #fff;
  transform: translateY(-100%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: var(--time-animation);
  pointer-events: none;
}

.Human:focus .Human-info {
  transform: translateY(0);
  opacity: 1;
  pointer-events: initial;
}

.Human-tableCell {
  vertical-align: top;
  white-space: nowrap;
}
