/** @define Human */

.Human {
  position: relative;
  display: flex;
  align-items: center;
  height: 2em;
  margin-bottom: 1px;
  padding-left: .5em;
  font-family: monospace;
  color: #000;
  cursor: pointer;
  background-color: var(--cbB);

  &::before,
  &::after {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: .5em;
  }

  &::before {
    color: #fff;
  }

  &::after {
    width: 100%;
    overflow: hidden;
    color: #000;
    text-shadow: 0 0;
  }

  &:hover::after {
    color: var(--cb2);
  };
}

.Human:focus {
  z-index: var(--z-human-active);
  text-decoration: underline;
  background-color: #fff;
  outline: none;
}

.Human-info {
  position: absolute;
  top: 100%;
  left: 0;
  padding: .4em .5em;
  color: var(--text-color);
  pointer-events: none;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-30%);
  transition-duration: var(--time-animation);
  transition-property: transform, opacity;
}

.Human:focus .Human-info {
  pointer-events: initial;
  opacity: 1;
  transform: translateY(0);
}

.Human-tableCell {
  white-space: nowrap;
  vertical-align: top;
}
