/** @define Human */

.Human {
  position: relative;
  display: flex;
  align-items: center;
  height: 2em;
  padding-left: .5em;
  margin-bottom: 1px;
  font-family: monospace;
  color: #000;
  background-color: var(--cbB);

  &::before,
  &::after {
    content: attr(data-name);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: .5em;
  }

  &::before {
    color: #fff;
  }

  &::after {
    width: 100%;
    color: #000;
    text-shadow: 0 0;
    overflow: hidden;
  }

  &:hover::after {
    color: var(--cb2);
  };
}
