/** @define Time */

.Time--time {
  --Time-color: var(--color-yellow);
}

.Time--person {
  --Time-color: var(--color-green-darker);
}

.Time {
  position: relative;
  display: flex;
  align-items: center;
  height: 2em;
  margin-bottom: 1px;
  padding-right: .5em;
  padding-left: .5em;
  font-family: monospace;
  color: #000;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--Time-color);
}

.Time--startUnsure::before,
.Time--endUnsure::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  opacity: .75;
}

.Time--startUnsure::before {
  right: 100%;
  width: var(--startVagueness, 3rem);
  background:
    linear-gradient(
      to left,
      var(--Time-color) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 50px 0 0 50px;
}

.Time--endUnsure::after {
  left: 100%;
  width: var(--endVagueness, 3rem);
  background:
    linear-gradient(
      to right,
      var(--Time-color) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 0 50px 50px 0;
}

.Time:focus {
  background-color: var(--Time-color);
  outline: none;
}

.Time-name {
  position: sticky;
  left: .5em;
}

.Time-info {
  position: absolute;
  top: 100%;
  left: 0;
  padding: .4em .5em;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: 2px 2px rgba(0, 0, 0, .125);
}

.Time.is-active .Time-info {
  z-index: 1;
}

.Time-image {
  width: 150px;
}

.Time-tableCell {
  padding: .25em;
  white-space: nowrap;
  vertical-align: top;
}
