/** @define Time */

.Time {
  position: relative;
  display: flex;
  align-items: center;
  height: 2em;
  margin-bottom: 1px;
  padding-left: .5em;
  font-family: monospace;
  color: #000;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--color-yellow);
}

.Time:focus {
  z-index: var(--z-element-active);
  outline: none;
}

.Time-info {
  position: absolute;
  top: 100%;
  left: 0;
  padding: .4em .5em;
  color: var(--text-color);
  pointer-events: none;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-30%);
  transition-duration: var(--time-animation);
  transition-property: transform, opacity;
}

.Time:focus .Time-info {
  pointer-events: initial;
  opacity: 1;
  transform: translateY(0);
}

.Time-tableCell {
  padding: .25em;
  white-space: nowrap;
  vertical-align: top;
}
