/** @define Time */

.Time--time {
  --Time-color: var(--color-yellow);
}

.Time--person {
  --Time-color: #68d4bc;
}

.Time {
  position: relative;
  display: flex;
  align-items: center;
  height: 2em;
  margin-bottom: 1px;
  padding-right: .5em;
  padding-left: .5em;
  font-family: monospace;
  color: #000;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--Time-color);
  border-radius: .5em;
}

.Time:focus {
  --Time-color: #24bb9a;
  outline: none;
}

.Time-name {
  position: sticky;
  left: .5em;
  padding-bottom: .25em;
}

.Time-info {
  position: absolute;
  top: 100%;
  left: .25em;
  padding: .4em .5em;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: 2px 2px rgba(0, 0, 0, .125);
}

.Time.is-active .Time-info {
  z-index: 1;
}

.Time-image {
  width: 150px;
}

.Time-tableCell {
  padding: .25em;
  white-space: nowrap;
  vertical-align: top;
}
