---
layout: boxed
---
<div class="Person u-richText">
  <h1>{{page.name}}</h1>
  {% if page.childs %}
    <h3>Childs</h3>
    <ul>
      {% for child in page.childs %}
        {% assign childInCollection = site.persons | where:"slug", child | first %}
        {% if childInCollection %}
          <li><a href="{{childInCollection.id}}">{{ childInCollection.name }}</a></li>
        {% else %}
          <li>{{ child | capitalize }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  {{content}}
</div>
