---
layout: boxed
---

{% if page.deathyear %}
  {% assign deathyear = page.deathyear %}
{% else %}
  {% capture deathyear %}{{'now' | date: "%Y" | times: 1 }}{% endcapture %}
{% endif %}


<div class="Person">
  <h1>{{page.name}}</h1>
  <p>Years lived: {{ page.birthyear | period:deathyear }}</p>
  <p>Birth: {{ page.birthyear | bce }}</p>
  {% if page.deathyear %}
    <p>Death: {{ page.deathyear | bce }}</p>
  {% endif %}
  {% if page.father %}
    {% assign fatherInCollection = site.persons | where:"slug", page.father | first %}
    {% if fatherInCollection %}
      <p>Father: <a href="{{ fatherInCollection.id }}">{{ fatherInCollection.name }}</a></p>
    {% else %}
      <p>Father: {{ page.father }}</p>
    {% endif %}
  {% endif %}
  {% if page.mother %}
    {% assign motherInCollection = site.persons | where:"slug", page.mother | first %}
    {% if motherInCollection %}
      <p>Mother: <a href="{{ motherInCollection.id }}">{{ motherInCollection.name }}</a></p>
    {% else %}
      <p>Mother: {{ page.mother }}</p>
    {% endif %}
  {% endif %}
  {% if page.childs %}
    <p>Childs:</p>
    <ul>
      {% for child in page.childs %}
        {% assign childInCollection = site.persons | where:"slug", child | first %}
        {% if childInCollection %}
          <li><a href="{{ childInCollection.id }}">{{ childInCollection.name }}</a></li>
        {% else %}
          <li>{{ child | capitalize }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  {{content}}
</div>
