---
layout: base
---
{% assign sorted_events = (site.data.events | sort:"date") %}
{% assign sorted_persons = (site.persons | sort:"birthyear") %}
<style>
{% for event in sorted_events %}
  .Event--{{ event.name | downcase }} {
    left: calc({{ event.year }}px + 4026px);
  }
{% endfor %}
{% for person in sorted_persons %}
  {% if person.deathyear %}
    {% assign deathyear = person.deathyear %}
  {% else %}
    {% capture deathyear %}{{'now' | date: "%Y" | times: 1 }}{% endcapture %}
  {% endif %}
  .Human--{{ person.slug }} {
    width: calc({{ deathyear }}px - {{ person.birthyear }}px);
    margin-left: calc({{ person.birthyear }}px + 4026px);
  }
{% endfor %}
</style>
<div class="Timeline">
  {% for event in sorted_events %}
    {% include Event.html event=event %}
  {% endfor %}
  {% for person in sorted_persons %}
    {% include Human.html human=person %}
  {% endfor %}
</div>
