/** @define PagePerson */

.PagePerson {
  max-width: 34rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

@media (min-width: 30rem) {
  .PagePerson {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.PagePerson-name {
  margin-bottom: 1em;
  font-size: 2rem;
}

.PagePerson-image {
  width: 100%;
  height: auto;
}

.PagePerson-table {
  margin-bottom: 2rem;
}

.PagePerson-tableCell {
  padding: .25em;
  white-space: nowrap;
  vertical-align: top;
}


.PagePerson-content {
  padding: 1rem;
}

.PagePerson-backLink {
  display: inline-block;
  margin-top: 2rem;
}
